.iframe{
    /* border:2px solid black; */
    position: relative;
    /* left: 25%; */
    width: 300px;
    height:300px;
    margin-top:100px;
    margin-left:100px;
}

.carnum-plugin{
    margin-top: 100px;
    margin-left: 100px;
    /* margin-right: 50px; */
    height:330px;
}

.btn-center{
    text-align: center;
}

.text-heading{
    text-align: center;
}

body{
    /* background-color: #f3f3f3; */
}

.table_btn{
    height: 175px;
}

.right-btn-box{
    margin-top: 168px;
    margin-left:100px;
}

.iframe_in{
    /* height: 750px; */
    /* padding-bottom: 200px; */
    /* padding-top: 35px;
    margin-left:200px; */
    margin-top:22px;
    position: relative;
    left: -70px;
}

.field{
    margin-right:18px;
}

.btn_Click{
    width: 186px;
    position: relative;
    left: 60%;
    margin-top:20px;
}

.input-plugin{
    /* margin-left: 80px;
    margin-top: 120px; */
}

.col-black{
    color:black;
}

#main{
    height: 500px;
}