*{
    overflow: hidden;
}

#p-iframe{
    margin-top:-1px;
    left:0;
    position: relative;
/*     top: 51px; */
    padding: 1px;
    border: 0;
    height: 570px
}

.xy-down{
	position: fixed;
	top: 50px;
	left: 92px;
	margin-right: 23px;
}