@charset "UTF-8";
.panelBox {
	position: absolute;
	left: 50%;
	z-index: 3;;
	top: 10%;
	width: 400px;
	transform: translateX(-200px);
}

.backWhite .panel {
	width: 390px;
	float: left;
	border:1px solid #3280FC;
}


.table-radius {
	border: 1px solid #ccc;
	border-radius: 4px;
}
/* 
.middle {
	vertical-align: middle;
} */

.pager-label {
	line-height: 15px;
}

#myPager {
	margin-right: 2px;
}

.backWhite {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 2;
}

/* .bottomSpace {
	margin-bottom: 12px;
} */

.scan {
	margin:0 0 3px 0;
	display: inline-block;
}

.searchtime{
	display: inline-block;
	width: 70%;
	margin-bottom: -12px;
}


#tb button {
	margin: 0 3px 2px 0;
}

.panel{
	margin-bottom: 4px;
}