.addPanelBox{
    position: absolute;
    left: 50%;
    z-index: 3;;
    top: 30%;
    width: 400px;
    transform:translateX(-200px);
    display: block;
}

.updatePanelBox{
    position: absolute;
    left: 50%;
    z-index: 3;;
    top: 30%;
    width: 400px;
    transform:translateX(-200px);
    display: block;
}

.table-radius{
    border: 1px solid #ccc;
    border-radius: 4px;
}

.middle{
    vertical-align: middle;
}

.pager-label{
    line-height: 20px;
}

#myPager{
    margin-right: 2px;
}

.backWhite{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.bottomSpace{
    margin-bottom: 12px;
}


.scan {
    margin-bottom: 3px;
}

#table button{
    margin: 0 3px 2px 0;
}



.panel{
    border: 0;
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}